<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Wordle Clone</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://unpkg.com/htmx.org@2.0.1"
            integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
            crossorigin="anonymous"></script>
</head>
<body class="container">

<div class="output-container">

    <form hx-post="/submit-word">
        <div class="character-container">
            <input id="char1" name="char1" type="text" pattern="[a-zA-Z]{1}" maxlength="1"
                   class="character character-input" oninput="this.value = this.value.toUpperCase()">
            <input id="char2" name="char2" type="text" pattern="[a-zA-Z]{1}" maxlength="1"
                   class="character character-input" oninput="this.value = this.value.toUpperCase()">
            <input id="char3" name="char3" type="text" pattern="[a-zA-Z]{1}" maxlength="1"
                   class="character character-input" oninput="this.value = this.value.toUpperCase()">
            <input id="char4" name="char4" type="text" pattern="[a-zA-Z]{1}" maxlength="1"
                   class="character character-input" oninput="this.value = this.value.toUpperCase()">
            <input id="char5" name="char5" type="text" pattern="[a-zA-Z]{1}" maxlength="1"
                   class="character character-input" oninput="this.value = this.value.toUpperCase()">
        </div>

        <div class="character-container">
            <button type="submit">Prüfen</button>
        </div>
    </form>

</div>
</body>
</html>